TOKEN=MyBotToken
LOG_URL=https://logviewername.herokuapp.com/
GUILD_ID=1234567890
OWNERS=Owner1ID,Owner2ID,Owner3ID
# DISABLE_AUTOUPDATES=true

DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/modmail 